# Supabase
NEXT_PUBLIC_SUPABASE_URL=cole_aqui_a_sua_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=cole_aqui_a_sua_chave_anon

# NextAuth - GitHub
GITHUB_ID=cole_aqui_seu_client_id
GITHUB_SECRET=cole_aqui_seu_client_secret
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=sua_chave_secreta_aqui